<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h1>Guest</h1>

    <h2><%= guest.name %></h2>

    <a href="/guests/<%= id %>/home">Home</a>
    <br>
    <a href="/guests/<%= id %>/edit">Edit Guest</a>
    <br>
    <a href="/guests/<%= id %>/delete">Delete Guest</a>
    <br>
    <a href="/guests/<%= id %>/new">Add a new guest</a>


  </body>
</html>
