<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="results.css">

    <title>Results</title>



  </head>
  <body>
    RESULTS!
     <% businesses.forEach(function(business) { %>
    <div><h2> <%= business.name %> </h2>
        <p>  <%= business.rating %> </p>
        <p>  <%= business.price %> </p>
        <p>  <%= business.location.address1 %> </p>
        <p>  <%= business.ditance %> </p>
        <p>  <img src="<%=business.image_url%>"> </p>
          </div>
    <% }) %>
  </body>
</html>
